<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>La multistoire</title>
  <style>
    body { font-family: Arial, sans-serif; max-width: 1200px; margin: auto; padding: 20px; }
    textarea { width: 100%; height: 200px; margin-bottom: 10px; }
    button { padding: 10px 20px; font-size: 16px; }
  </style>
</head>
<body>
  <h1>La multhistoire</h1>
  <div id="Explications">Bienvenue dans la Multistoire ! Écrivons les histoires ensemble.</div>
  <p>L'idée, c'est une histoire avec un commencement unique, dont tu écris la suite ! Le twist, c'est que tu ne peux lire que les 3 dernières phrases de l'histoire que tu continues.</p>
  <p>Un peu d'inspiration, une touche d'imagination, et lance toi dans l'aventure !!</p>

  <h2>Un début unique :</h2>
  
  <textarea id="original_story" name="story" readonly>{{original_story}}</textarea>

  <h2>Continuer une histoire ...</h2>
  <p>{{n_story}} pages ont été écrites jusqu'à présent.</p>  
  <form action="/write/" method="post">
	  <input type="submit" value="Écrire" style="font-size: 1.2em;"/>
  </form> 
	
  <hr>
  <h2>Lire une histoire complète</h2>
  <p>Aucune histoire n'est complète pour l'instant. Patience jeune pousse, les mots s'écrivent au rythme où les fleurs fânent.</p>  
  <button onclick="loadFullStory()">Voir l’histoire complète</button>
  <div id="full-story"></div>
  
  <p style="font-size:0.8em; "><i>10 histoires écrites par une seule personne ne seront jamais aussi riches que celle écrite par 10 personnes. </i></p>
</body>
</html>
