<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Merci !</title>
  <style>
    body { font-family: Arial, sans-serif; max-width: 1200px; margin: auto; padding: 20px; }
    textarea { width: 100%; height: 200px; margin-bottom: 10px; }
    button { padding: 10px 20px; font-size: 16px; }
  </style>
</head>
<body>
  <p>Ton histoire a bien été prise en compte.</p>
  <p>Merci d'avoir contribué à ce projet.</p>
  <p>Je te souhaite plein de bonheur !</p>
  
  <hr>
	<form action="/">
		<input type="submit" value="Retour à l'acceuil" />
	</form>
	
</body>
</html>
